<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zoo Management</title>
</head>
<body>
  <header>
    <h1>Zoo Management System</h1>
  </header>

  <main>
    <%- include('form') %> <!-- Menyertakan file 'form.ejs' -->
  </main>

  <footer>
    <p>© 2024 Zoo Management</p>
  </footer>
</body>
</html>
